header.header-widget.is-flex-shrink-0
    .container.is-fullhd.is-flex.is-justify-content-space-between.is-align-items-center.is-full-height
        section
            h2.is-family-serif.is-full-height.is-flex.is-align-items-center.is-flex-shrink-0
                a(href= url_for("/"))= (theme.user && theme.user.name || config.author) + ""
        h3.is-family-serif.is-full-height.is-flex.is-align-items-center.is-flex-shrink-0
            block topic
        aside.is-flex-shrink-0
            if theme.menu
                each url, label in theme.menu
                    h3.is-inline-block
                        a(href= url_for(url))= label && _p(label.toLowerCase())

header.is-flex.header-widget.is-flex-shrink-0.is-align-items-center.is-justify-content-center.is-hidden-tablet
    h2.is-family-serif.is-full-height.is-flex.is-align-items-center.is-flex-shrink-0
        a(href= url_for("/"))= (theme.user && theme.user.name || config.author) + ""
    if theme.menu
        each url, label in theme.menu
            h3.is-inline-block
                a(href= url_for(url))= label && _p(label.toLowerCase())

